{% extends "base.html" %} {% block content %} {% load static %}

<!-- <link rel="stylesheet" href="{% static 'node_edge.css' %}" /> -->

<style>
  .node {
    cursor: pointer;
    fill: #318ce7;
    border-radius: 50px;
    rx: 4; /* round corners */
  }

  .name {
    text-anchor: "middle";
    font-family: "sans-serif";
    fill: rgb(0, 0, 0);
  }
  .link {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
  }

  .separator {
    stroke: rgb(0, 0, 0);
    margin-top: 10px;
  }
</style>
<svg width="100%" height="100%"></svg>

<script>
  let code = `{{code}}`;
  code = code.replaceAll("&quot;", '"');
  eval(code);
</script>

{% include 'treeview/treeview.html' %}

{% endblock %}
